<form [formGroup]="loanDataForm" (submit)="onFormSubmit()">
  <div *ngIf="showValidationError && hasErrors()" class="alert alert-warning">
    Check input values
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 form-group" [ngClass]="{ 'has-error': hasError('loanAmount') }">
      <label for="loanAmount">Loan amount (&euro;)</label>
      <input type="number" class="form-control" id="loanAmount" placeholder="Enter amount" formControlName="loanAmount">
    </div>
    <div class="col-md-6 col-sm-12 form-group" [ngClass]="{ 'has-error': hasError('loanYears') }">
      <label for="loanYears">Loan duration (years)</label>
      <input type="number" class="form-control" id="loanYears" placeholder="Enter years" formControlName="loanYears">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 form-group" [ngClass]="{ 'has-error': hasError('loanType') }">
      <label for="loanType">Loan type</label>
      <select name="loanType" id="loanType" class="form-control" formControlName="loanType">
        <option value="">- Select -</option>
        <option *ngFor="let type of loanTypes" value="{{type.type}}">{{type.name}}</option>
      </select>
    </div>
    <div class="col-md-6 col-sm-12 form-group" [ngClass]="{ 'has-error': hasError('interestAdjustementPeriod') }">
      <label for="interestAdjustementPeriod">Interest rate adjustment period (months)</label>
      <select name="interestAdjustementPeriod" id="interestAdjustementPeriod" class="form-control" formControlName="interestAdjustementPeriod">
        <option value="">- Select -</option>
        <option *ngFor="let period of interestAdjustementPeriods" value="{{period}}">{{period}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 form-group" [ngClass]="{ 'has-error': hasError('margin') }">
      <label for="margin">Margin rate (%)</label>
      <input type="number" class="form-control" id="margin" placeholder="Enter margin rate" formControlName="margin">
    </div>
  </div>
</form>
