<div class="container">
  <h2>Loan calculator</h2>
  <app-loan-data-form
    [initialValues]="model.getFormData()"
    (onSubmit)="initGraphs($event)">
  </app-loan-data-form>
  <div *ngIf="model.graphsInitialized()">
    <div class="col-md-12 col-sm-12">
      <app-interest-curve
        [initialInterestRates]="model.getYearlyInterestRates()"
        (valueChanged)="updateInterestRate($event)">
      </app-interest-curve>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-costs-curve-monthly
        [initialMonthlyPayment]="model.getMonthlyPayment()"
        [initialMonthlyInterest]="model.getMonthlyInterest()">
      </app-costs-curve-monthly>
    </div>
    <div class="col-md-6 col-sm-12">
      <app-costs-curve-cumulative
        [initialCumulativeTotal]="model.getCumulativeTotal()"
        [initialCumulativeInterest]="model.getCumulativeInterest()">
      </app-costs-curve-cumulative>
    </div>
  </div>
</div>

