<div class="container">
  <h2>Loan calculator</h2>
  <app-loan-data-form
    [initialValues]="controller.getFormData()"
    (valueChanged)="setLoanData($event)">
  </app-loan-data-form>
  <div *ngIf="controller.graphsInitialized()" class="fadein">
    <hr/>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <app-interest-curve
          [initialInterestRates]="controller.getLoanData().yearlyInterestRates"
          [initialFormValues]="controller.getLoanData().interestData"
          (valueChanged)="updateInterestRate($event)"
          (onSubmit)="resetInterestRates($event)">
        </app-interest-curve>
      </div>
      <div class="col-md-4 col-sm-12">
        <app-costs-curve-yearly
          [initialYearlyPrincipal]="controller.getLoanData().paymentData.yearlyPrincipal"
          [initialYearlyInterest]="controller.getLoanData().paymentData.yearlyInterest">
        </app-costs-curve-yearly>
      </div>
      <div class="col-md-4 col-sm-12">
        <app-costs-curve-cumulative
          [initialCumulativeTotal]="controller.getLoanData().paymentData.cumulativeTotal"
          [initialCumulativeInterest]="controller.getLoanData().paymentData.cumulativeInterest">
        </app-costs-curve-cumulative>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6 col-sm-12 form-group">
        <label for="totalCosts">Cumulative costs (&euro;)</label>
        <input type="number" class="form-control" id="totalCosts" [value]="controller.getLoanData().getTotalCosts()" disabled="disabled">
      </div>
      <div class="col-md-6 col-sm-12 form-group">
        <label for="totalInterest">Cumulative interest (&euro;)</label>
        <input type="number" class="form-control" id="totalInterest" [value]="controller.getLoanData().getTotalInterest()" disabled="disabled">
      </div>
    </div>
  </div>
</div>

